.profile h4 {
    margin-left: 29px;
}

.avatar img {
    width:250px;
    height:250px;
    float:left;
    border-radius:50% ; 
    margin-right: 50px;
}

p .information {
    border-bottom: 1px solid #DCDCDC;
}

img .phone {
    height: 30px;
    width: 30px;
}

.user-name {
    margin-left:-84px;
}
